<!--==================================================================
프로젝트명 : DID 시스템
작성지 : 신정호
작성일 : 2023년 12월 04일
용도 : DID 시스템 레이아웃
==================================================================-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/storgTV/js/jquery_3.7.0.js"></script>
    <script type="text/javascript" src="/storgTV/js/sockjs.min.js"></script>
    <script type="text/javascript" src="/storgTV/js/stomp.min.js"></script>
    <link href="/storgTV/css/all.css" rel="stylesheet">
</head>
<body>
    <main layout:fragment="content"></main>
</body>
</html>